# za virtualko za testirat docker
.vagrant
vagrant/.vagrant
# vagrantfile
# script.sh

possible_app
possible_app_2

myImage/work_db/__pycache__
myImage/init_db/__pycache__
myImage/__pycache__
msi_docker-main.zip