{% extends "layout.html" %}
{% block body %}

<div class="block1">

<h1>Hello FRIend!</h1>


	<p>If you are here for the first time, you must first create it so go to <a href="http://localhost:5001/create_db"><b>localhost:5001/create_db.</b></a></p>
	<p>If you got to to that link, you will also delete existing database and create bran new one.</p>

	<br />
<h2><p>
		To lighted the day. <br />
		Here is an interesting quote for you:
	</p>
</h2>
{{ quote }}
<br />

<p>To write new bullet points go to <a href="http://localhost:8080/"><b>localhost:8080/</b></a></p>

<img src="https://cdn.druck.at/sites/default/files/styles/maxbreite_1320/public/blog-content-750x450_bulletjournal_2.jpg?itok=qW7W09Tm">

</div>
{% endblock %}